[bumpversion]
current_version = 0.2.5
commit = True
tag = False
message = "Bump version to {new_version}"

[bumpversion:file:gradle.properties]
search = pluginVersion = {current_version}
replace = pluginVersion = {new_version}

